.conteiner {
    display: flex; /* inline flex */
    border: solid 5px rgb(9, 58, 181);
    padding: 3px;

}
.item {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: solid black;
    margin: 1px;
    padding: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(222, 126, 9);
    background-color: rgb(209, 235, 219);
}
body div {
    width: 300px; 
}
p {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}
.column {
    border: solid 40px orange;
    display: flex;
    flex-direction: column;  
}

#cat {
    
}
.c {
    width: 200px;
}
#catt {
    background-color: rgb(148, 82, 82);
}
.bg {

    border: solid rgb(114, 114, 114) 10px;
    width: 500px;
    height: 500px;
    background-image: url(fdf13733-6915-4126-84c5-45a1f5e2b275-best-cat-gifts-2019.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    }
