:root {
    --main-text-color: #a7cdac;
    --bg-color: rgb(255, 255, 255);
    --border-color: rgb(38, 4, 103);
    --main-font-size: 25px;
    --button-color: ;

}
  
media all and (max-width: 600px) {  
    :root {  
      --main-font-size: 12px;  
    }  
  }
.table {
    color: var(--main-text-color);
    border: solid 4px var(--border-color);
    width: 200px;
    height: auto;
    font-size: var(--main-font-size);
}
body {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 200px;
    background-color: var(--bg-color);
}
 .nav {
    display: flex;
    list-style-type: none;
 }
 
.button {
  
  margin: 2px;
  padding: 2px;
  align-content: space-around ;
  text-transform: nowrap;
  word-spacing: nowrap;
}
a {
  
}