:root {
    --main-text-color: #a7cdac;
    --bg-color: rgb(201, 201, 201);
    --border-color: rgb(199, 178, 178);
    --main-font-size: 25px;
    --button-color: none;
    --line-menu-color: gray;

}
  
media all and (max-width: 600px) {  
    :root {  
      --main-font-size: 12px;  
    }  
  }

  .conteiner {
    width: 100%;
    min-width: 1024px;
    padding: 0, 15px;
    margin: 0, auto;  
  
  }
